# if	Условие включения задачи на основе переменных CI/CD	             if: $CI_COMMIT_BRANCH == "main"
# changes	Запуск задачи при изменении указанных файлов	               changes: 
                                                                       # - src/* 
  
# exists	Запуск задачи, если указанные файлы существуют	             exists: 
                                                                       # - config.yml
# when	Определяет момент выполнения.	                                 when: manual
# needs	Задает зависимости от других задач	                           needs: 
                                                                       # - build_job
                                                                       
#################################################################################################################################

job:
  when: manual    # manual      - эта джоба будет запускаться только вручную
                  # on_success  - запускает джобу только при успешном завершении всех предыдущих стадий
                  # on_failure  - активирует задачу только при неудаче предыдущих стадий
                  # always      - гарантирует выполнение джобы независимо от результатов
                  # never       - исключает джобу из выполнения (можно использовать только в параметрах rules и workflow:rules)

job-never:
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"  #  Эта джоба никогда не запустится для ветки main
      when: never                          #  when можно использовать в rules

job1:
  rules:
    - if: $CI_COMMIT_BRANCH != "dev"     #  Эта джоба никогда не запустится для ветки main

job2:
  rules:
    - if: $CI_COMMIT_BRANCH == "dev"     #  Эта джоба запустится только для dev ветки

# При помощи выражений =~ и !~ мы можем определять регулярные выражения. Регулярное выражение должно быть заключено в косые черты /

regex_job:
  rules:
    - if: $CI_PIPELINE_SOURCE =~ /feature\/(.*)/    #  Эта джоба запустится только для feature/<что-то там> веток

build-job:
  rules:                                  #  Джоба запустится, только если были изменены файлы в директории src/ и её поддиректориях
    - changes:
        - src/*
        - src/**/*

config:
  rules:
    - exists:                             #  Джоба запустится, только если файл config/configuration.yml присутствует
        - config/configuration.yml
      needs:                              # Можно использовать needs в rules для большей гибкости 
        - build-job                    

