                                      # needs в GitLab CI

# needs - определяет, какие джобы должны завершиться, прежде чем текущая начнет выполняться

stages:
  - build
  - test
  - deploy

build:app1:
  stage: build
  script:
    - echo "Сборка app1..."
    - sleep 5

build:app2:
  stage: build
  script:
    - echo "Эта джоба завершится с обшибкой, что приведёт к остановке всего пайплайна."
    - sleep 10
    - exit 1

test:app1:
  stage: test
  needs:                    # Указываем зависимость от build:app1
    - build:app1            #
  script:
    - echo "Тесты app1..."
    - sleep 20

test:app2:
  stage: test
  needs:                    # Указываем зависимость от build:app2
    - build:app2            #
  script:
    - echo "Тесты app2..."
    - sleep 1000

deploy:app1:
  stage: deploy
  needs:                    # Указываем зависимость от test:app1
    - test:app1             #
  script:
    - echo "Тесты для app2 в test:app2 длятся слишком долго, мы могли бы уже задеплоить app1!"
    - sleep 10

deploy:app2:
  stage: deploy
  needs:                    # Указываем зависимость от test:app2
    - test:app2             #
  script:
    - echo "Деплой app2..."
    - sleep 10
